<section id="subscribe">
  <div class="download-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area wow fadeInUp">
            <h2 class="title">Get In <span>Touch</span></h2>
            <p>We Love When Our Clients Appreciate Our Services. We Promise To Never Let Them Down. </p>
          </div>
        </div>
        <!-- Start download app content -->
        <div class="col-md-12">
          <div class="subscribe-content wow fadeInLeft">
            <div class="flex">
              <div class="address">
                <div class="flex"><span><i class=" white fa fa-map-marker"></i></span><p>Rourkela,
                  Odisha, India</p></div>
                <div class="flex"><span><i class="white fa fa-phone"></i></span><p>+91-8249030354</p></div>
                <div class="flex"><span><i class=" white fa fa-envelope"></i></span><p>poojaongo@gmail.com</p></div>
              </div>
              <div></div>
              <div></div>
            </div>
            <!-- <form action="" class="subcr-form">
              <i class="fa fa-envelope-o"></i>
              <input type="text" name="" id="" placeholder="Type your mail address..">
              <button type="button" class="subcr-btn">Subscribe</button>
            </form> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End download app -->

<!-- Start contact -->
<!-- <section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-area">
            <h2 class="title">Get in <span>Touch</span></h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="contact-area">
          <form action="" class="contact-form">
            <div class="form-group">                  
              <input type="text" class="form-control" placeholder="Your name">
            </div>
            <div class="form-group">                  
              <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">                  
              <textarea class="form-control" rows="3" placeholder="Your Message"></textarea>
            </div>
            <div class="send-area">
              <button type="button" class="send-btn">Send Now</button>
            </div>  
          </form>
        </div>
      </div>
    </div>
  </div>
</section> -->