.flex {
    display: flex;
}
.address > div > p, .address > div >i {
    color: white;
    line-height: 2
}
.white {
    color: white;
}
.address { 
    width: 250px;
    margin: 0 auto;
}
.flex > span > i {
    margin-left: 10px
}
.width40 {
    margin-top: 8px;
    width: 40px;
}