
  <!-- BEGAIN PRELOADER -->
  <!-- <div id="preloader">
    <div id="status"></div>
  </div> -->
  <!-- END PRELOADER -->
  <!-- Start header section --> 
  <header id="header">
    <div class="header-inner">
      <!-- Header image -->
      <img width="1900px" height="800px" src="assets/images/lord-ganesha-2560x1600-ganapati-vinayaka-hindu-god-hd-4363.jpg" alt="img">
      <div class="overlay">
        <div class="header-content">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="header-top">
                  <!-- Start logo area -->
                  <div class="logo-area">
                    <!-- Image based logo -->
                    <!-- <a class="logo" href="index.html"><img src="assets/images/logo.png" alt="logo"></a> -->
                    <a class="logo" href="index.html">PoojaOnGo</a>

                    <!-- Text based logo -->
                    <!-- <a class="logo" href="index.html">App Landy.</a> -->
                  </div>
                  <!-- End logo area -->                 
                </div>
              </div>
              <div class="col-md-12">
                <div class="header-bottom">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="header-bottom-left">
                      <!-- <h1 class="hindi_text">lcdK dk ekfyd ,dA</h1> -->
                      <h1>Sabka malik Ek</h1>
                      <p ></p>
                      <a class="download-btn" href="#">Download App</a>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="header-bottom-right feature-img wow fadeInUp">
                      <!-- <img src="assets/images/iphone-group1.png" alt="iphone grpup img"> -->
                      <img src="assets/images/Nexus-6-MockUp-group.png" alt="iphone grpup img">
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </header>
  <!-- End header section --> 

  <!-- Start Features -->
  <!-- <section id="features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area">
            <h2 class="title">Awesome <span>Features</span></h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="features-area">
            <div class="row">
              <!-- Start features left -->
     
  <!-- End Features -->

  <!-- Start how it works -->
  <section id="howit-works">
    <div class="howit-works-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-area wow fadeInLeft">
              <h2 class="title">How it <span>Works</span></h2>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
            </div>
          </div>  
          <div class="col-md-12">
            <div class="howit-works-video">
              <iframe src="https://player.vimeo.com/video/33790882" width="428" height="276" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>                  
            </div>
          </div>
          </div>
        </div>
      </div>
  </section>
  <!-- End how it works -->

  <!-- start pricing table -->
  <section id="poooja_details">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area wow fadeInUp">
            <h2 class="title">Pooja <span>Samagri</span></h2>
            <p>Check out pooja essentials so that you don't miss out</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="screenshots-area">
            <ul class="screenshots-slide">
                <li class="col-md-3 wow fadeInLeft" *ngFor = "let data of poojaDetails">
                  <a [routerLink] = "['/poojadetails',data.id]">{{data.name}}
                    <img src={{data.image}} alt=" Gods's image">
                    <h2>{{data.name}}</h2>
                  </a> 
                </li>
              <!-- <li class="col-md-3 wow fadeInLeft">
               <a><img src="assets/images/app-screenshot.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
               </a>
              </li>
               <li class="col-md-3 wow fadeInLeft">
                 <a><img src="assets/images/app-screenshot.jpg" alt="app screenshot">
                    <div class="view-btn-area">
                      <span class="fa fa-search view-btn"></span>
                    </div>
                 </a>
              </li>
               <li class="col-md-3 wow fadeInLeft">
                 <a><img src="assets/images/app-screenshot.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
               </a>
              </li>
               <li class="col-md-3 wow fadeInLeft">
                 <a><img src="assets/images/app-screenshot.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
               </a>
              </li>
              <li class="col-md-3 wow fadeInLeft">
                 <a><img src="assets/images/app-screenshot.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
               </a>
              </li>
               <li class="col-md-3 wow fadeInLeft">
                 <a><img src="assets/images/app-screenshot.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
               </a>
              </li>
               <li class="col-md-3 wow fadeInLeft">
                 <a><img src="assets/images/app-screenshot.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
               </a>
              </li>
               <li class="col-md-3 wow fadeInLeft">
                 <a><img src="assets/images/app-screenshot.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
               </a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End pricing table -->

  <!-- Start screenshot -->
  <section id="screenshot">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area wow fadeInUp">
            <h2 class="title">App <span>Screenshots</span></h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="screenshots-area">
            <ul class="screenshots-slide">
              <li class="col-md-3 wow fadeInLeft">
               <a class="fancybox" data-fancybox-group="gallery" href="assets/images/app-screenshot-popup.jpg"><img src="assets/images/app-screenshot.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
               </a>
              </li>
               <li class="col-md-3 wow fadeInLeft">
                 <a class="fancybox" data-fancybox-group="gallery" href="assets/images/app-screenshot-popup.jpg"><img src="assets/images/app-screenshot.jpg" alt="app screenshot">
                    <div class="view-btn-area">
                      <span class="fa fa-search view-btn"></span>
                    </div>
                 </a>
              </li>
               <li class="col-md-3 wow fadeInLeft">
                 <a class="fancybox" data-fancybox-group="gallery" href="assets/images/app-screenshot-popup.jpg"><img src="assets/images/app-screenshot.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
               </a>
              </li>
               <li class="col-md-3 wow fadeInLeft">
                 <a class="fancybox" data-fancybox-group="gallery" href="assets/images/app-screenshot-popup.jpg"><img src="assets/images/app-screenshot.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
               </a>
              </li>
              <li class="col-md-3 wow fadeInLeft">
                 <a class="fancybox" data-fancybox-group="gallery" href="assets/images/app-screenshot-popup.jpg"><img src="assets/images/app-screenshot.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
               </a>
              </li>
               <li class="col-md-3 wow fadeInLeft">
                 <a class="fancybox" data-fancybox-group="gallery" href="assets/images/app-screenshot-popup.jpg"><img src="assets/images/app-screenshot.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
               </a>
              </li>
               <li class="col-md-3 wow fadeInLeft">
                 <a class="fancybox" data-fancybox-group="gallery" href="assets/images/app-screenshot-popup.jpg"><img src="assets/images/app-screenshot.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
               </a>
              </li>
               <li class="col-md-3 wow fadeInLeft">
                 <a class="fancybox" data-fancybox-group="gallery" href="assets/images/app-screenshot-popup.jpg"><img src="assets/images/app-screenshot.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
               </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End screenshot -->

  <!-- Start download app -->
  <section id="download-app">
    <div class="download-overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-area wow fadeInUp">
              <h2 class="title">Download <span>App</span></h2>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
            </div>
          </div>
          <!-- Start download app content -->
          <div class="col-md-12">
            <div class="download-app-content">
              <!-- Start single download -->
              <a class="single-download wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.5s" href="#">
                <div class="download-icon">
                  <i class="fa fa-windows"></i>
                </div>
                <div class="download-content">
                  <p>Available on the</p>
                  <span>Windows Store</span>
                </div>
              </a>
              <!-- Start single download -->
              <a class="single-download wow fadeInLeft" data-wow-duration="0.75s" data-wow-delay="0.75s" href="#">
                <div class="download-icon">
                  <i class="fa fa-play"></i>
                </div>
                <div class="download-content">
                  <p>Available on the</p>
                  <span>Play Store</span>
                </div>
              </a>
              <!-- Start single download -->
              <a class="single-download wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s" href="#">
                <div class="download-icon">
                  <i class="fa fa-apple"></i>
                </div>
                <div class="download-content">
                  <p>Available on the</p>
                  <span>Apple Store</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End download app -->

  <!-- Start testimonial -->
  <section id="testimonial">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area wow fadeInLeft">
            <h2 class="title">Clients <span>Feedback</span></h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="testimonial-slider">
            <!-- single slide -->
            <div class="testimonial-single-slide">               
              <img class="testi-avatar" src="assets/images/testi1.jpg" alt="testimonial img">
              <p class="testi-name">Samantha</p>
              <p class="testi-company">Google.com</p>
              <p class="testi-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry ue ipsa quae ab illo inventore veritatis et quasi</p>
            </div>
            <!-- single slide -->
            <div class="testimonial-single-slide">               
              <img class="testi-avatar" src="assets/images/testi3.jpg" alt="testimonial img">
              <p class="testi-name">Alexander</p>
              <p class="testi-company">Twitter.com</p>
              <p class="testi-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry ue ipsa</p>
            </div>
            <!-- single slide -->
            <div class="testimonial-single-slide">               
              <img class="testi-avatar" src="assets/images/testi2.jpg" alt="testimonial img">
              <p class="testi-name">Victoria</p>
              <p class="testi-company">Facebook.com</p>
              <p class="testi-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry ue ipsa</p>
            </div>
          </div>
        </div>
      </div>
    </div>      
  </section>
  <!-- End testimonial -->

  <!-- Start subscribe -->

  <!-- End contact -->

  <!-- Start footer -->

  <!-- End -->


