    <header id="header">
      <div class="header-inner">
        <!-- Header image -->
        <img src="assets/images/bg.jpg" alt="img">
        <div class="overlay">
          <div class="header-content">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="header-top">
                    <!-- Start logo area -->
                    <div class="logo-area">
                      <!-- Image based logo -->
                      <a class="logo" href="index.html"><img class="logo" src="assets/images/logo.png" alt="logo"></a>
                      <!-- Text based logo -->
                      <!-- <a class="logo" href="index.html">App Landy.</a> -->
                    </div>
                    <!-- End logo area -->                 
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="header-bottom">
                  <div class="row">
                    <div class="col-md-7 col-sm-7">
                      <div class="header-bottom-left">
                        <h1>Welcome to PoojaOnGo !</h1>
                        <h3>We Believe There is Nothing More 
                          Important Than Pooja. </h3>
                        <a class="download-btn" href="#">Download App</a>
                      </div>
                    </div>
                    <div class="col-md-5 col-sm-5">
                      <div class="header-bottom-right">
                        <!-- <img src="assets/images/iphone-group1.png" alt="iphone grpup img"> -->
                        <img src="assets/images/Vishnu.png" alt="iphone grpup img">
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
                <!-- End logo area -->
              </div>
            </div>
            </div>
          </div>
        </div>
</header>
<!-- End header section -->

<!-- Start Features -->
<!-- End Features -->
<div class="title-area about_us wow fadeInRight container">
  <h2 class="title">About <span>Us</span></h2>
  <p class="center">We provide online puja booking and astrology consultancy services in India. <b>Poojaongo.com</b> has
    a
    group of best pandit and Vedic Astrologer in India. Call us for any customised puja & astrological consultation.</p>
  <br />
  <p class="center">
    <b>Poojaongo</b> is the India’s 1st and most trusted online puja booking platform for Hindu puja service, Vedic
    Rituals,
    Religious Ceremonies and Astrology Services. We provide the India’s well-known, highly qualified and experienced
    Shastries and Pandits for you who will come to your house and do the puja. Our services also include online puja
    samagri or puja items.
  </p>
  <p class="center">

    <b>Poojaongo</b> covers major rituals that include the Hawan, Shant Vidhi, Shubh Vivah – Wedding ceremony,
    Satyanarayan
    Katha, Griha pravesh ,Namkaran Sanskar or naming ceremony, Nava Graha Shant, , Vangnischaya or Sakharpude or
    engagement, Laxmi Puja, thread ceremony or Maunji Bandhan, Ganesh Puja, Annaprashan, Ramayan, Mundan, Bhagwat katha,
    Vastu Shant, Sunderkand Puja, Janan Shant etc.
  </p>
  <p class="center">

    You will also find lots of knowledge and details on Hindu rituals on this website. So if you are looking for online
    pandit ji or want to have puja at your place then book your puja now!!</p>
</div>
<!-- Start how it works -->
<!-- End how it works -->
<section id="download-app">
  <div class="download-overlay title-area wow fadeInLeft container">
    <div class="about_us">
    <h2 class="title">Puja<span> Booking </span>Online</h2>
      <p class="content_padding">Puja is an act of displaying veneration to god through invocations and numerous
        rituals. a very important side of
        puja is to create a religious relationship with the spiritual being. pujas facilitate individuals to usher in
        positivism, improve confidence and attract wealth and prosperity.</p>

      <p class="content_padding">Pujas are performed for seeking divine grace and blessings of assorted gods and
        goddesses or to attain specific
        objectives. Varied pujas are conducted for varied functions like for getting peace, healthiness, gaining
        material
        abundance and religious prosperity. Pujas like shanti pujas and dosh nivaran pujas also are very helpful to
        block
        negativity.</p>

      <p class="content_padding">Pujas are powerful and effective observe in one’s religious journey on the way to
        enlightenment. pujas holds
        utmost significance and therefore additionally to general pujas, special online puja are performed throughout
        numerous occasions and events. PujaBooking.Com provides online puja booking services and pandit booking online
        and
        also conducts pujas at devotees home or office.</p>
    </div>
  </div>
</section>
<!-- start pricing table -->
<section id="pricing-table">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-area wow fadeInLeft">
          <h2 class="title">Pricing <span>Plans</span></h2>
          <p>We Provide Most Affordable Prices For Your Religious Beliefs. Because We Care. </p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="pricing-table-content">
          <div class="row">
            <!-- Start single plan -->
            <div class="col-md-3 col-sm-6">
              <div class="single-plan wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                <div class="single-plan-head">
                  <h5>Startup</h5>
                  <p>Rs 500 /<span>vist</span></p>
                </div>
                <div class="single-plan-content">
                  <ul>
                    <li>Pandit on service</li>
                    <li class="delete">More than 5 hours pooja</li>
                    <li class="delete">Pandit will bring required samagri</li>
                    <li class="delete"> Multiple Pandits Available </li>
                    <li class="delete">Pandit available for multiple days with WordPress</li>
                  </ul>
                </div>
                <div class="single-plan-bottom">
                  <a class="signup-btn" href="http://mixdesigns.net">Sign Up</a>
                </div>
              </div>
            </div>
            <!-- End single plan -->
            <!-- Start single plan -->
            <div class="col-md-3 col-sm-6">
              <div class="single-plan wow fadeInUp" data-wow-duration="0.75s" data-wow-delay="0.75s">
                <div class="single-plan-head">
                  <h5>Pro</h5>
                  <p>Rs 1000/<span>vist</span></p>
                </div>
                <div class="single-plan-content">
                  <ul>
                    <li>Pandit on service</li>
                    <li>More than 5 hours pooja</li>
                    <li class="delete">Pandit will bring required samagri</li>
                    <li class="delete"> Multiple Pandits Available </li>
                    <li class="delete">Pandit available for multiple days with WordPress</li>
                  </ul>
                </div>
                <div class="single-plan-bottom">
                  <a class="signup-btn" href="#">Sign Up</a>
                </div>
              </div>
            </div>
            <!-- End single plan -->
            <!-- Start single plan -->
            <div class="col-md-3 col-sm-6">
              <div class="single-plan feature-price wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                <div class="single-plan-head">
                  <h5>Business</h5>
                  <p>Rs 1500/<span>vist</span></p>
                </div>
                <div class="single-plan-content">
                  <ul>
                    <li>Pandit on service</li>
                    <li>More than 5 hours pooja</li>
                    <li>Pandit will bring required samagri</li>
                    <li class="delete"> Multiple Pandits Available </li>
                    <li class="delete">Pandit available for multiple days with WordPress</li>
                  </ul>
                </div>
                <div class="single-plan-bottom">
                  <a class="signup-btn" href="#">Sign Up</a>
                </div>
              </div>
            </div>
            <!-- End single plan -->
            <!-- Start single plan -->
            <div class="col-md-3 col-sm-6">
              <div class="single-plan wow fadeInUp" data-wow-duration="1.25s" data-wow-delay="1.25s">
                <div class="single-plan-head">
                  <h5>Advanced</h5>
                  <p>Rs 2000/<span>visits</span></p>
                </div>
                <div class="single-plan-content">
                  <ul>
                    <li>Pandit on service</li>
                    <li>More than hours pooja</li>
                    <li>Pandit will bring required samagri</li>
                    <li>Multiple Pandits Available</li>
                    <li>Pandit available for multiple days</li>
                  </ul>
                </div>
                <div class="single-plan-bottom">
                  <a class="signup-btn" href="#">Sign Up</a>
                </div>
              </div>
            </div>
            <!-- End single plan -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End pricing table -->

<!-- Start screenshot -->
<section id="screenshot">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-area wow fadeInUp">
          <h2 class="title">App <span>Screenshots</span></h2>
          <p>
            We Have Made Organising Pooja Easier Than Ever. Dive Into Our App And Check It Out.</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="screenshots-area">
          <ul class="screenshots-slide">
            <li class="col-md-3 wow fadeInLeft">
              <a class="fancybox" data-fancybox-group="gallery" href="assets/ss/Screenshot_20190319-001413.jpg"><img
                  height="500px" width="270px" src="assets/ss/Screenshot_20190319-001413.jpg" alt="app screenshot">
                <div class="view-btn-area">
                  <span class="fa fa-search view-btn"></span>
                </div>
              </a>
            </li>
            <li class="col-md-3 wow fadeInLeft">
              <a class="fancybox" data-fancybox-group="gallery" href="assets/ss/Screenshot_20190319-001248.jpg"><img
                  height="500px" width="270px" src="assets/ss/Screenshot_20190319-001248.jpg" alt="app screenshot">
                <div class="view-btn-area">
                  <span class="fa fa-search view-btn"></span>
                </div>
              </a>
            </li>
            <!-- <li class="col-md-3 wow fadeInLeft">
              <a class="fancybox" data-fancybox-group="gallery" href="assets/ss/Screenshot_20181026-102711.jpg"><img
                  height="500px" width="270px" src="assets/ss/Screenshot_20181026-102711.jpg" alt="app screenshot">
                <div class="view-btn-area">
                  <span class="fa fa-search view-btn"></span>
                </div>
              </a>
            </li> -->
            <li class="col-md-3 wow fadeInLeft">
              <a class="fancybox" data-fancybox-group="gallery" href="assets/ss/Screenshot_20190319-001318.jpg"><img
                  height="500px" width="270px" src="assets/ss/Screenshot_20190319-001318.jpg" alt="app screenshot">
                <div class="view-btn-area">
                  <span class="fa fa-search view-btn"></span>
                </div>
              </a>
            </li>
            <li class="col-md-3 wow fadeInLeft">
              <a class="fancybox" data-fancybox-group="gallery" href="assets/ss/Screenshot_20190319-001301.jpg"><img
                  height="500px" width="270px" src="assets/ss/Screenshot_20190319-001301.jpg" alt="app screenshot">
                <div class="view-btn-area">
                  <span class="fa fa-search view-btn"></span>
                </div>
              </a>
            </li>
            <li class="col-md-3 wow fadeInLeft">
              <a class="fancybox" data-fancybox-group="gallery" href="assets/ss/Screenshot_20190319-001229.jpg"><img
                  height="500px" width="270px" src="assets/ss/Screenshot_20190319-001229.jpg" alt="app screenshot">
                <div class="view-btn-area">
                  <span class="fa fa-search view-btn"></span>
                </div>
              </a>
            </li>
            <li class="col-md-3 wow fadeInLeft">
              <a class="fancybox" data-fancybox-group="gallery" href="assets/ss/Screenshot_20190319-001310.jpg"><img
                  height="500px" width="270px" src="assets/ss/Screenshot_20190319-001310.jpg" alt="app screenshot">
                <div class="view-btn-area">
                  <span class="fa fa-search view-btn"></span>
                </div>
              </a>
            </li>
            <li class="col-md-3 wow fadeInLeft">
              <a class="fancybox" data-fancybox-group="gallery" href="assets/ss/Screenshot_20190319-001401.jpg"><img
                  height="500px" width="270px" src="assets/ss/Screenshot_20190319-001401.jpg" alt="app screenshot">
                <div class="view-btn-area">
                  <span class="fa fa-search view-btn"></span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End screenshot -->

<!-- Start download app -->
<section id="download-app">
  <div class="download-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area wow fadeInUp">
            <h2 class="title">Download <span>App</span></h2>
            <p>Download Our App And Book And Organise Pooja In Seconds. </p>
          </div>
        </div>
        <!-- Start download app content -->
        <div class="col-md-12">
          <div class="download-app-content">
            <!-- Start single download -->
            <a class="single-download wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.5s" href="#">
              <div class="download-icon">
                  <i class="fab fa-windows"></i>
                </div>
              <div class="download-content">
                <p>Available on the</p>
                <span>Windows Store</span>
              </div>
            </a>
            <!-- Start single download -->
            <a class="single-download wow fadeInLeft" data-wow-duration="0.75s" data-wow-delay="0.75s" href="#">
              <div class="download-icon">
                <i class="fa fa-play"></i>
              </div>
              <div class="download-content">
                <p>Available on the</p>
                <span>Play Store</span>
              </div>
            </a>
            <!-- Start single download -->
            <a class="single-download wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s" href="#">
              <div class="download-icon">
                <i class="fab fa-apple"></i>
              </div>
              <div class="download-content">
                <p>Available on the</p>
                <span>Apple Store</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End download app -->

<!-- Start testimonial -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-area wow fadeInLeft">
          <h2 class="title">Clients <span>Feedback</span></h2>
          <p>We Love When Our Clients Appreciate Our Services. We Promise To Never Let Them Down. </p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="testimonial-slider">
          <!-- single slide -->
          <div class="testimonial-single-slide">
            <img class="testi-avatar" src="assets/images/testi1.jpg" alt="testimonial img">
            <p class="testi-name">Vickey Rathore</p>
            <!-- <p class="testi-company">Google.com</p> -->
            <p class="testi-text">Booked for Namkaran Pooja from App. Amazing Service. Keep it up ! </p>
          </div>
          <!-- single slide -->
          <div class="testimonial-single-slide">
            <img class="testi-avatar" src="assets/images/testi3.jpg" alt="testimonial img">
            <p class="testi-name">Sneha Patel</p>
            <!-- <p class="testi-company">Twitter.com</p> -->
            <p class="testi-text">Very Professional Pandits in an affordable price. You can also ask them to fetch samagri for you. Must use</p>
          </div>
          <!-- single slide -->
          <div class="testimonial-single-slide">
            <img class="testi-avatar" src="assets/images/testi2.jpg" alt="testimonial img">
            <p class="testi-name">Ishita Rout</p>
            <!-- <p class="testi-company">Facebook.com</p> -->
            <p class="testi-text">I had booked for satyanarayan pooja, pandits were very punctual and professinal. Will use again.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End testimonial -->

<!-- Start subscribe -->
<section id="subscribe">
  <div class="download-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area wow fadeInUp">
            <h2 class="title">Subscribe Our <span>Newsletter</span></h2>
            <!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in some form, by injected humour</p> -->
          </div>
        </div>
        <!-- Start download app content -->
        <div class="col-md-12">
          <div class="subscribe-content wow fadeInLeft">
            <form action="" class="subcr-form">
              <i class="fa fa-envelope-o"></i>
              <input type="text" name="" id="" placeholder="Type your mail address..">
              <button type="button" class="subcr-btn">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End download app -->

<!-- Start contact -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-area">
          <h2 class="title">Get in <span>Touch</span></h2>
          <p>We Would Love To Hear From You. Please Let Us Know How We Can Help You.</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="contact-area">
          <form action="" class="contact-form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Your name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
              <textarea class="form-control" rows="3" placeholder="Your Message"></textarea>
            </div>
            <div class="send-area">
              <button type="button" class="send-btn">Send Now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>