.about_us {
margin-top: 30px;
}
.center {
    text-align: center;
}
.content_padding {
    padding: 0 150px !important;
}
@media (max-width: 600px) {
    .content_padding {
        padding: 0 20px !important;
    }
}
.screenshots-slide > li {
    width: 100%
}
li {
    // width: 31% !important
}