    <header id="header">
      <div class="header-inner">
        <!-- Header image -->
        <img src="assets/images/bg.jpg" alt="img">
        <div class="overlay">
          <div class="header-content">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="header-top">
                    <!-- Start logo area -->
                    <div class="logo-area">
                      <!-- Image based logo -->
                      <a class="logo" href="index.html"><img class="logo" src="assets/images/Pandit-On-GO.png" alt="logo"></a>
                      <!-- Text based logo -->
                      <!-- <a class="logo" href="index.html">App Landy.</a> -->
                    </div>
                    <!-- End logo area -->                 
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="header-bottom">
                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <div class="header-bottom-left">
                        <h1>Expose Your App with best way</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                        <a class="download-btn" href="#">Download App</a>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="header-bottom-right">
                        <!-- <img src="assets/images/iphone-group1.png" alt="iphone grpup img"> -->
                        <img src="assets/images/Vishnu.png" alt="iphone grpup img">
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>      
      </div>
    </header>
    <!-- End header section --> 
  
    <!-- Start Features -->
   <!-- End Features -->
  
    <!-- Start how it works -->
    <!-- End how it works -->
  
    <!-- start pricing table -->
    <section id="pricing-table">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-area wow fadeInLeft">
              <h2 class="title">Pricing <span>Plans</span></h2>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="pricing-table-content">
              <div class="row">
                <!-- Start single plan -->
                <div class="col-md-3 col-sm-6">                    
                  <div class="single-plan wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <div class="single-plan-head">
                      <h5>Startup</h5>
                      <p>Rs 500 /<span>month</span></p>
                    </div>
                    <div class="single-plan-content">
                      <ul>
                        <li>Pandit on service</li>
                        <li class="delete">More than 5 hours pooja</li>
                        <li class="delete">Pandit will bring required samagri</li>
                        <li class="delete"> Multiple Pandits Available </li>
                        <li class ="delete">Pandit available for multiple days with WordPress</li>
                      </ul>
                    </div>
                    <div class="single-plan-bottom">
                      <a class="signup-btn" href="http://mixdesigns.net">Sign Up</a>
                    </div>
                  </div>
                </div>
                <!-- End single plan -->
                <!-- Start single plan -->
                <div class="col-md-3 col-sm-6">
                  <div class="single-plan wow fadeInUp" data-wow-duration="0.75s" data-wow-delay="0.75s">
                    <div class="single-plan-head">
                      <h5>Pro</h5>
                      <p>Rs 1000/<span>month</span></p>
                    </div>
                    <div class="single-plan-content">
                      <ul>
                        <li>Pandit on service</li>
                        <li>More than 5 hours pooja</li>
                        <li class="delete">Pandit will bring required samagri</li>
                        <li class="delete"> Multiple Pandits Available </li>
                        <li class ="delete">Pandit available for multiple days with WordPress</li>
                      </ul>
                    </div>
                    <div class="single-plan-bottom">
                      <a class="signup-btn" href="#">Sign Up</a>
                    </div>
                  </div>
                </div>
                <!-- End single plan -->
                <!-- Start single plan -->
                <div class="col-md-3 col-sm-6">
                  <div class="single-plan feature-price wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                    <div class="single-plan-head">
                      <h5>Business</h5>
                      <p>Rs 1500/<span>month</span></p>
                    </div>
                    <div class="single-plan-content">
                      <ul>
                        <li>Pandit on service</li>
                        <li>More than 5 hours pooja</li>
                        <li>Pandit will bring required samagri</li>
                        <li class="delete"> Multiple Pandits Available </li>
                        <li class ="delete">Pandit available for multiple days with WordPress</li>
                      </ul>
                    </div>
                    <div class="single-plan-bottom">
                      <a class="signup-btn" href="#">Sign Up</a>
                    </div>
                  </div>
                </div>
                <!-- End single plan -->
                <!-- Start single plan -->
                <div class="col-md-3 col-sm-6">
                  <div class="single-plan wow fadeInUp" data-wow-duration="1.25s" data-wow-delay="1.25s">
                    <div class="single-plan-head">
                      <h5>Advanced</h5>
                      <p>Rs 2000/<span>month</span></p>
                    </div>
                    <div class="single-plan-content">
                      <ul>
                        <li>Pandit on service</li>
                        <li>More than hours pooja</li>
                        <li>Pandit will bring required samagri</li>
                        <li>Multiple Pandits Available</li>
                        <li>Pandit available for multiple days</li>
                      </ul>
                    </div>
                    <div class="single-plan-bottom">
                      <a class="signup-btn" href="#">Sign Up</a>
                    </div>
                  </div>
                </div>
                <!-- End single plan -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End pricing table -->
  
    <!-- Start screenshot -->
    <section id="screenshot">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-area wow fadeInUp">
              <h2 class="title">App <span>Screenshots</span></h2>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="screenshots-area">
              <ul class="screenshots-slide">
                <li class="col-md-3 wow fadeInLeft">
                 <a class="fancybox" data-fancybox-group="gallery" href="assets/ss/Screenshot_20190319-001413.jpg"><img height="500px" width="270px" src="assets/ss/Screenshot_20190319-001413.jpg" alt="app screenshot">
                    <div class="view-btn-area">
                      <span class="fa fa-search view-btn"></span>
                    </div>
                 </a>
                </li>
                 <li class="col-md-3 wow fadeInLeft">
                   <a class="fancybox" data-fancybox-group="gallery" href="assets/ss/Screenshot_20190319-001248.jpg"><img height="500px" width="270px" src="assets/ss/Screenshot_20190319-001248.jpg" alt="app screenshot">
                      <div class="view-btn-area">
                        <span class="fa fa-search view-btn"></span>
                      </div>
                   </a>
                </li>
                 <li class="col-md-3 wow fadeInLeft">
                   <a class="fancybox" data-fancybox-group="gallery" href="assets/ss/Screenshot_20181026-102711.jpg"><img height="500px" width="270px" src="assets/ss/Screenshot_20181026-102711.jpg" alt="app screenshot">
                    <div class="view-btn-area">
                      <span class="fa fa-search view-btn"></span>
                    </div>
                 </a>
                </li>
                 <li class="col-md-3 wow fadeInLeft">
                   <a class="fancybox" data-fancybox-group="gallery" href="assets/ss/Screenshot_20190319-001318.jpg"><img height="500px" width="270px" src="assets/ss/Screenshot_20190319-001318.jpg" alt="app screenshot">
                    <div class="view-btn-area">
                      <span class="fa fa-search view-btn"></span>
                    </div>
                 </a>
                </li>
                <li class="col-md-3 wow fadeInLeft">
                   <a class="fancybox" data-fancybox-group="gallery" href="assets/ss/Screenshot_20190319-001301.jpg"><img height="500px" width="270px" src="assets/ss/Screenshot_20190319-001301.jpg" alt="app screenshot">
                    <div class="view-btn-area">
                      <span class="fa fa-search view-btn"></span>
                    </div>
                 </a>
                </li>
                 <li class="col-md-3 wow fadeInLeft">
                   <a class="fancybox" data-fancybox-group="gallery" href="assets/ss/Screenshot_20190319-001229.jpg"><img height="500px" width="270px" src="assets/ss/Screenshot_20190319-001229.jpg" alt="app screenshot">
                    <div class="view-btn-area">
                      <span class="fa fa-search view-btn"></span>
                    </div>
                 </a>
                </li>
                 <li class="col-md-3 wow fadeInLeft">
                   <a class="fancybox" data-fancybox-group="gallery" href="assets/ss/Screenshot_20190319-001310.jpg"><img height="500px" width="270px" src="assets/ss/Screenshot_20190319-001310.jpg" alt="app screenshot">
                    <div class="view-btn-area">
                      <span class="fa fa-search view-btn"></span>
                    </div>
                 </a>
                </li>
                 <li class="col-md-3 wow fadeInLeft">
                   <a class="fancybox" data-fancybox-group="gallery" href="assets/ss/Screenshot_20190319-001401.jpg"><img height="500px" width="270px" src="assets/ss/Screenshot_20190319-001401.jpg" alt="app screenshot">
                    <div class="view-btn-area">
                      <span class="fa fa-search view-btn"></span>
                    </div>
                 </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End screenshot -->
  
    <!-- Start download app -->
    <section id="download-app">
      <div class="download-overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="title-area wow fadeInUp">
                <h2 class="title">Download <span>App</span></h2>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
              </div>
            </div>
            <!-- Start download app content -->
            <div class="col-md-12">
              <div class="download-app-content">
                <!-- Start single download -->
                <a class="single-download wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.5s" href="#">
                  <div class="download-icon">
                    <i class="fa fa-windows"></i>
                  </div>
                  <div class="download-content">
                    <p>Available on the</p>
                    <span>Windows Store</span>
                  </div>
                </a>
                <!-- Start single download -->
                <a class="single-download wow fadeInLeft" data-wow-duration="0.75s" data-wow-delay="0.75s" href="#">
                  <div class="download-icon">
                    <i class="fa fa-play"></i>
                  </div>
                  <div class="download-content">
                    <p>Available on the</p>
                    <span>Play Store</span>
                  </div>
                </a>
                <!-- Start single download -->
                <a class="single-download wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s" href="#">
                  <div class="download-icon">
                    <i class="fa fa-apple"></i>
                  </div>
                  <div class="download-content">
                    <p>Available on the</p>
                    <span>Apple Store</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End download app -->
  
    <!-- Start testimonial -->
    <section id="testimonial">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-area wow fadeInLeft">
              <h2 class="title">Clients <span>Feedback</span></h2>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="testimonial-slider">
              <!-- single slide -->
              <div class="testimonial-single-slide">               
                <img class="testi-avatar" src="assets/images/testi1.jpg" alt="testimonial img">
                <p class="testi-name">Samantha</p>
                <p class="testi-company">Google.com</p>
                <p class="testi-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry ue ipsa quae ab illo inventore veritatis et quasi</p>
              </div>
              <!-- single slide -->
              <div class="testimonial-single-slide">               
                <img class="testi-avatar" src="assets/images/testi3.jpg" alt="testimonial img">
                <p class="testi-name">Alexander</p>
                <p class="testi-company">Twitter.com</p>
                <p class="testi-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry ue ipsa</p>
              </div>
              <!-- single slide -->
              <div class="testimonial-single-slide">               
                <img class="testi-avatar" src="assets/images/testi2.jpg" alt="testimonial img">
                <p class="testi-name">Victoria</p>
                <p class="testi-company">Facebook.com</p>
                <p class="testi-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry ue ipsa</p>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </section>
    <!-- End testimonial -->
  
    <!-- Start subscribe -->
    <section id="subscribe">
      <div class="download-overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="title-area wow fadeInUp">
                <h2 class="title">Subscribe Our <span>Newsletter</span></h2>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
              </div>
            </div>
            <!-- Start download app content -->
            <div class="col-md-12">
              <div class="subscribe-content wow fadeInLeft">
                <form action="" class="subcr-form">
                  <i class="fa fa-envelope-o"></i>
                  <input type="text" name="" id="" placeholder="Type your mail address..">
                  <button type="submit" class="subcr-btn">Subscribe</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End download app -->
  
    <!-- Start contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-area">
                <h2 class="title">Get in <span>Touch</span></h2>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="contact-area">
              <form action="" class="contact-form">
                <div class="form-group">                  
                  <input type="text" class="form-control" placeholder="Your name">
                </div>
                <div class="form-group">                  
                  <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">                  
                  <textarea class="form-control" rows="3" placeholder="Your Message"></textarea>
                </div>
                <div class="send-area">
                  <button type="submit" class="send-btn">Send Now</button>
                </div>  
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>