<div class="nav-area">      
  <a id="menu-btn" href="#"><i class="fa fa-bars"></i></a>
  <nav class="main-nav" id="main-menu">
    <span class="fa fa-remove" id="close"></span>
    <ul>  
      <li><a routerLink = "/home"><i class="fa fa-home"></i><span>Home</span></a></li>
      <li><a routerLink = "/features"><i class="fa fa-server"></i><span>Features</span></a></li>
      <li><a routerLink = '/howitworks'><i class="fa fa-hourglass"></i><span>How it Works</span></a></li>
      <li><a routerLink = "/pooja_items"><i class="fa fa-usd"></i><span>Pooja Items</span></a></li>
      <li><a routerLink = "/screenshots"><i class="fa fa-image"></i><span>Screenshots</span></a></li>
      <li><a href="#download-app"><i class="fa fa-download"></i><span>Download</span></a></li>
      <!-- <li><a href="#testimonial"><i class="fa fa-certificate"></i><span>Testimonials</span></a></li> -->
      <li><a routerLink = "/contact_us"><i class="fa fa-envelope-o"></i><span>Contact</span></a></li>          
    </ul>      
  </nav>
</div> 