<section id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-area">
          <h2 class="title">Awesome <span>Features</span></h2>
          <p>You Dream, We Make Sure It Comes True. </p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="features-area">
          <div class="row">
            <!-- Start features left -->
            <div class="col-md-4">
              <div class="features-left">
                <ul class="features-list features-list-left">
                  <li class="wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <i class="fa fa-desktop"></i>
                    <div class="features-content">
                      <h4>Best In Market</h4>
                      <p>We Provide Best Service, without giving a chance to complaint.</p>
                    </div>
                  </li>
                  <li class="wow fadeInLeft" data-wow-duration="0.75s" data-wow-delay="0.75s">
                    <i class="fa fa-edit"></i>
                    <div class="features-content">
                      <h4>Easy to Communicate</h4>
                      <p>Easy to communicate with your pandit</p>
                    </div>
                  </li>
                  <li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                    <i class="fa fa-object-ungroup"></i>
                    <div class="features-content">
                      <h4>Your Location</h4>
                      <p>You Decide The Location For the Pooja. </p>
                    </div>
                  </li>
                  <li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                    <i class="fa fa-flask"></i>
                    <div class="features-content">
                      <h4>Easy to Use</h4>
                      <p>Our App is extremely easy to use.</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- End features left -->
            <!-- Start features img -->
            <div class="col-md-4">
              <div class="feature-img wow fadeInUp">
                <img src="assets/images/Vishnu.png" alt="iPhone mockup">
              </div>
            </div>
            <!-- End features img -->
            <!-- Start features right -->
            <div class="col-md-4">
              <div class="features-right">
                <ul class="features-list features-list-right">
                  <li class="wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <i class="fa fa-rocket"></i>
                    <div class="features-content">
                      <h4>Professionalism Guareented</h4>
                      <p>All Our pandits are highly professional. </p>
                    </div>
                  </li>
                  <li class="wow fadeInRight" data-wow-duration="0.75s" data-wow-delay="0.75s">
                    <i class="fa fa-cogs"></i>
                    <div class="features-content">
                      <h4>Different Packages</h4>
                      <p>You can select a package according to your requirement. </p>
                    </div>
                  </li>
                  <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">
                    <i class="fa fa-heart"></i>
                    <div class="features-content">
                      <h4>User Friendly</h4>
                      <p>User Friendly App is what you need.</p>
                    </div>
                  </li>
                  <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">
                    <i class="fa fa-support"></i>
                    <div class="features-content">
                      <h4>24/7 Support</h4>
                      <p>We won'give a chance to complaint. We are always here for you.</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>   
            <!-- End features right -->                 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>