<app-navbar></app-navbar>
<router-outlet></router-outlet>
<footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
          <div class="footer-text">
            <p>Designed by <a href="http://www.markups.io/">MarkUps.io</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>