<section id="howit-works">
    <div class="howit-works-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-area wow fadeInLeft">
              <h2 class="title">How it <span>Works</span></h2>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
            </div>
          </div>  
          <div class="col-md-12">
            <div class="howit-works-video">
                <!-- <iframe width="428" height="276"  src="https://www.youtube.com/embed/aFGBVVLOO_4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                <iframe width="428" height="276"  src="https://www.youtube.com/embed/_0sIXkFSRFo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>              </div>
          </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </section>