<section id="screenshot">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area wow fadeInUp">
            <h2 class="title">App <span>Screenshots</span></h2>
            <p>
              We Have Made Organising Pooja Easier Than Ever. Dive Into Our App And Check It Out.</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="screenshots-area">
            <ul class="screenshots-slide">
              <li class="col-md-3 wow fadeInLeft">
                <a class="fancybox" data-fancybox-group="gallery" href="assets/ss/Screenshot_20190319-001413.jpg"><img
                    height="500px" width="270px" src="assets/ss/Screenshot_20190319-001413.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
                </a>
              </li>
              <li class="col-md-3 wow fadeInLeft">
                <a class="fancybox" data-fancybox-group="gallery" href="assets/ss/Screenshot_20190319-001248.jpg"><img
                    height="500px" width="270px" src="assets/ss/Screenshot_20190319-001248.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
                </a>
              </li>
              <!-- <li class="col-md-3 wow fadeInLeft">
                <a class="fancybox" data-fancybox-group="gallery" href="assets/ss/Screenshot_20181026-102711.jpg"><img
                    height="500px" width="270px" src="assets/ss/Screenshot_20181026-102711.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
                </a>
              </li> -->
              <li class="col-md-3 wow fadeInLeft">
                <a class="fancybox" data-fancybox-group="gallery" href="assets/ss/Screenshot_20190319-001318.jpg"><img
                    height="500px" width="270px" src="assets/ss/Screenshot_20190319-001318.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
                </a>
              </li>
              <li class="col-md-3 wow fadeInLeft">
                <a class="fancybox" data-fancybox-group="gallery" href="assets/ss/Screenshot_20190319-001301.jpg"><img
                    height="500px" width="270px" src="assets/ss/Screenshot_20190319-001301.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
                </a>
              </li>
              <li class="col-md-3 wow fadeInLeft">
                <a class="fancybox" data-fancybox-group="gallery" href="assets/ss/Screenshot_20190319-001229.jpg"><img
                    height="500px" width="270px" src="assets/ss/Screenshot_20190319-001229.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
                </a>
              </li>
              <li class="col-md-3 wow fadeInLeft">
                <a class="fancybox" data-fancybox-group="gallery" href="assets/ss/Screenshot_20190319-001310.jpg"><img
                    height="500px" width="270px" src="assets/ss/Screenshot_20190319-001310.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
                </a>
              </li>
              <li class="col-md-3 wow fadeInLeft">
                <a class="fancybox" data-fancybox-group="gallery" href="assets/ss/Screenshot_20190319-001401.jpg"><img
                    height="500px" width="270px" src="assets/ss/Screenshot_20190319-001401.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>