<section id="screenshot">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area wow fadeInUp">
            <h2 class="title">App <span>Screenshots</span></h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="screenshots-area">
            <ul class="screenshots-slide">
              <li class="col-md-3 wow fadeInLeft">
               <a class="fancybox" data-fancybox-group="gallery" href="assets/images/app-screenshot-popup.jpg"><img src="assets/images/app-screenshot.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
               </a>
              </li>
               <li class="col-md-3 wow fadeInLeft">
                 <a class="fancybox" data-fancybox-group="gallery" href="assets/images/app-screenshot-popup.jpg"><img src="assets/images/app-screenshot.jpg" alt="app screenshot">
                    <div class="view-btn-area">
                      <span class="fa fa-search view-btn"></span>
                    </div>
                 </a>
              </li>
               <li class="col-md-3 wow fadeInLeft">
                 <a class="fancybox" data-fancybox-group="gallery" href="assets/images/app-screenshot-popup.jpg"><img src="assets/images/app-screenshot.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
               </a>
              </li>
               <li class="col-md-3 wow fadeInLeft">
                 <a class="fancybox" data-fancybox-group="gallery" href="assets/images/app-screenshot-popup.jpg"><img src="assets/images/app-screenshot.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
               </a>
              </li>
              <li class="col-md-3 wow fadeInLeft">
                 <a class="fancybox" data-fancybox-group="gallery" href="assets/images/app-screenshot-popup.jpg"><img src="assets/images/app-screenshot.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
               </a>
              </li>
               <li class="col-md-3 wow fadeInLeft">
                 <a class="fancybox" data-fancybox-group="gallery" href="assets/images/app-screenshot-popup.jpg"><img src="assets/images/app-screenshot.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
               </a>
              </li>
               <li class="col-md-3 wow fadeInLeft">
                 <a class="fancybox" data-fancybox-group="gallery" href="assets/images/app-screenshot-popup.jpg"><img src="assets/images/app-screenshot.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
               </a>
              </li>
               <li class="col-md-3 wow fadeInLeft">
                 <a class="fancybox" data-fancybox-group="gallery" href="assets/images/app-screenshot-popup.jpg"><img src="assets/images/app-screenshot.jpg" alt="app screenshot">
                  <div class="view-btn-area">
                    <span class="fa fa-search view-btn"></span>
                  </div>
               </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>